body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    align-items: center;

    padding: 0%;
    margin: 0%;

    background-color: rgb(167, 78, 144);
}

h1{
    font-family: "Homemade Apple", sans-serif;
    font-weight: bold;
    margin-top: 300px;
    margin-bottom: 120px;
    text-align: center;
    
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 3px black;



    background-color: rgb(106, 207, 194);
    padding: 7px;
    padding-left: 40px;
    padding-right: 40px;
    border: 5px solid rgb(8, 161, 149);

    box-shadow: 5px 5px 15px black;
}

/* GRID */
.container.outer{
    background-color: rgba(0, 0, 0, 0);

    display: grid;
    grid-template-columns: repeat(31,1fr);
    grid-template-rows: repeat(31,1fr);
    gap: 0px;

    height: 700px;
    width: 1000px;
    

    margin-top: 50px; margin-bottom: 80px;
    padding: 0%;
    
}


/* MAIN BOX */
.container.middle{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(243, 173, 81);

    grid-row: 3 / 30;
    grid-column: 3 / 30;

    border: 2px black solid;
    margin: 0%;
    padding: 0%;

    height: 600px;
    width: 900px;

    box-shadow: 3px 3px 45px;
}

.container.inner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 179, 221);
    height: 550px;
    width: 850px;
    

    border: 2px black solid;
}

.MainText{
    font-size: 120px;
    text-align: center;
    font-family: "Roboto Flex",sans-serif;
    font-weight: bold;
    font-style: normal;
    overflow: hidden;
    
    padding: 0%;
    margin: 0%;
}

/* 
=================
IMAGES 
=================
*/
.frame{
    background-color: rgba(255, 24, 186, 0);
    
}

.image1{
    grid-area: 1/7/8/14;
    transform: rotate(2deg) scaleY(100%) translateY(-30%);
    z-index: 1;
}

.image2{
    grid-area: 1/20/8/26;
    transform: rotate(-2deg) scaleX(150%) translateY(-50%);
    z-index: 1;
    
}

.image3{
    grid-area: 8/9/12/11;
    transform: scaleX(89%);
    z-index: 2;
}

.image4{
    grid-area: 7/11/10/13;
    transform: rotate(2deg) translateX(5%) scaleX(0.8) ;
    z-index: 2;
}

.image5{
    grid-area: 4/21/12/28;
    z-index: 1;
    transform: translateY(7.5%) translateX(2%) rotate(1deg) scaleX();
}

.image6{
    grid-area: 3/25/18/32;
    z-index: 1;
    transform: translateY(5%) translateX(-5%) rotate(2deg);
}

.image7{

    grid-area: 14/6/26/15;
    z-index: 1;
    transform: translateY(-5%) rotate(-8deg) ;
}

.image8{
    grid-area: 13/12/19/18;
    z-index: 1;
    /* transform: rotate(2deg) scaleX(-100%); */
}

.image9{
    grid-area: 19/13/30/24;
    z-index: 3;
    transform: rotate(2deg);
}

.image10{
    grid-area: 26/1/32/7;
    z-index: 1;
    transform: rotate(-4deg) scaleY(200%) scaleX(200%) translateX(-20%);

}

.image11{
    grid-area: 23/26/32/32;
    z-index: 1;
    transform: rotate(2deg) scaleY(120%) scaleX(120%)translate(2%,5%);
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-bottom: 45px;
    font-weight: bold;

    text-shadow: 5px 5px 3px rgb(73, 170, 73);
}